html {
  min-height: 100%;
  background-color: #7FDBFF;
}
.background {
   background: url("../images/cardgames_bg.png");
   /*opacity: 0.5;*/
   filter: alpha(opacity=50); /* For IE8 and earlier*/
   z-index: -1;
}

body {
  margin: 0;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  background-color: #7FDBFF;
}

/* overlay effect for index page carousel - lays on top of the container and over the image for text */
.overlay {
  position: absolute; 
  bottom: 10px; 
  background: #fff;
 /* background: rgba(255, 255, 255, 0.5); /* White see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  /*for WCAG and WAVE*/
  color: #000;
  font-size: 18px;
  text-align: center;
}

.carousel-cell {
  width: 33%;
}
.carousel-cell-image{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* When you mouse over the container, fade in the overlay title*/ 
.carousel-cell:hover .overlay {
  opacity: 1;
}

/* End Carousel Overlay */

.container.main-content-area {
  display: none;
}

.circle{
  width:150px;
  height:100px;
  border-radius:50%;
  font-size:20px;
  color:#fff;
  text-align:center;
  background:#fff;
}

.wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  grid-gap: 2%;
  color: #000000;
  align-items: start;
  align-content: space-around;
  justify-content: space-between;
}

/* in-store demo last accordion level*/
.farewell {
  background-color: #0074D9;
  color: #ffffff;
  grid-template-columns: 1fr;
  grid-gap: 2%;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box {
	background-color: #ffffff;
    font-family: Baloo, sans-serif;
    font-size:18px;
    padding: 20px;
    border: 12px solid #0074D9;
  	border-radius: 12px;
    color: #000000;
}

.box_index {
  background-color: #ffffff;
    font-family: Baloo, sans-serif;
    font-size:18px;
    padding: 20px;
    border: 12px solid #0074D9;
    border-radius: 12px;
    color: #000000;
}

/* gray pre-order border box*/
.box_gray{
    font-size: 18px;
  	border-radius: 12px;
  	color: #000000;
  	padding: 20px;
  	border: 10px solid #888888;
}

.greetings {
  width: 100%;
  background-color: #0074D9;
  color: #ffffff;
  align-items: start;
  align-content: space-around;
  justify-content: space-between;

}

.blue {
  background-color: #0074D9;
}

.articleboxformat {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 2%;
}


table {
  border-collapse: collapse;
  width: auto;
  padding: 1px;
  display: table;
}

th, td {
  text-align: left;
  padding: 8px;
  font-weight:900;
}

tr:nth-child(even) {
  background-color: #fff;
  color: #000;
}
tr:nth-child(even) {
  background-color: #7FDBFF;
  color: #000;
}
table td:last-child {
  width:100%;
}

  /* -- This is a fancy pants flip panel based on https://css3playground.com/3d-flip-cards/ *
  /* make sure to declare a default for every property that you want animated -- */
  /* -- general styles, including Y axis rotation -- */

  /* Create Grid-ception */
/*
                     o,//(//oooo/oo/oooo,oo,,,., ..                            
                   oo//(oo,..,,,,ooo/o.,   .......,,.        .///o             
                ..,o/(/,.,. ..,o,,,.,oo, .   ......,,.       .o//o             
               .,,,o/oo,   ..,o.o,ooo,,,,,,......,.....                        
              ,,.,.,o/,  oo,,,,.,,,,,,,o,,,,,,,,,,,,..                         
             ,,,...,,, .////////////,ooooooo/oooooo,,..              /##,      
              ..  .   ,//////(/((((((//////////oo,o,,.,.            o%%%%.    .
             ,,..   .o////////(((((((//////////ooo,,,.,..            /##/     .
                   ,ooo///////((((((/////(//////oooo,.,,.                ..... 
                  .oooo////////(((((((//////////ooo,,,,,.    ,.          ...,..
 ,//o             .,oo/o///////(((((((///(/////ooooo,,,,..  .%            .,o
 o///             .,oo//o///////((((((///((/////oooooo,,,..  .%#.           .,,
  ..               ,,o//////////(((((((/((((/(//oo,........  ..        ........
                  ..,o/////////////((/(//////o,ooo.,,... ... .                 
      o///,  (,   .,ooo//oo,,,.. ...,o//////o,,,,,,..,..,.....                 
      .o/o   ,,o  .,oooo,.,oo////o,,,,,o///o,..,,,,oo.,,,,,..,               ..
             oo/o  ,o/o/oo,o,.../,oo,oo/((/o,oooooooooooo,,...             ....
              /oo,,,oo///////o///ooo//(//(/o,,ooo//////oo,,...           ..,,oo
               ////oooo/////((//////(///////,,oo///////oo,,...          .,/(##(
               ,o//oooo/////((((((((((////(/o,o,o//////oo,..      ..     .,/((/
.             (((///oooo////((((((((o/////((/,,,,oo///ooo,..     (&&&o         
#o           .((#(///ooooo/////(///o//oo,,oo,.,,,,oooooo,...    .%&&         
(.            .,,  ,o,oooooo//////o/////oo,,,,,,,,,oooo,,,,.     ./(/.         
                      ,ooo//ooo//o///////(////ooo,..,oo,o,,.                   
                       ,oo//////////oo,oo,,oo/ooo,,o/oo,o,,.                   
                        ,oo/////(//((((///////ooo,ooo,,,,..                    
                         ,,oo///o////(//////oooooooo,,.,.                      
                        ./,,,ooooooo////((((////ooo,,...                       
                        ##oo,,,,,oooo///////////o,,...                         
                       ####ooo,,..,,,,oooooooooo,,..  ..o                      
                      /#####/oooo,,.,,,,,,,,,,...   ...,o                      
          ....        ,#####%%(oooo,..... ...     ....,oo      .               
     .......           o###%%%%%%/ooo,,...   ......../ooo,      ...   ...      
..........              (#%%%%%%%%%#oo,,,,,,,,,,,..//oooo,        ..........   
.......                  (%%%%%%%%%%%%/,oooooo,,o,     oo,           ....      
..                        (%%%%%%o     o/ooo,o(         oo                     
                           (%%%%(.                       .                     
                            (#%%%o         o                                   
                             (#%%/                                             
                              .#%%/       ,o////(o,..                          
                                o%o,.,oo//(((((//((/oo,                        
                                  /(#(((#########(((((/                        
                                   /%%%%%%##%#######((.                        
                                    .%%%%%%%%%%%#####(                         
                                      #%%%%%%%%%#####,                         
                                       #%%%%%%%%#####                          
                                        /%%%%%%%####                           
                                         .%%%%%%###(                           
                                           #%%%%###                            
                                            (%%%##o                            
                                             o%%##                             
                                              ,##.                             
                                                ,                      */        
/* OK, that's enough Leo*/

/* Color and identify the text and email fields.*/
input[type=text], input[type=email] {
  width: 100%;
  padding: 4px 4px;
  margin: 1px 1px;
  box-sizing: border-box;
  border: none;
  background-color: #7FDBFF;
  color: #000;
}

#f-name, #f-email {
  color: #000;
}

/* add a color border to the open text field.*/
textarea{
  width: 100%;
  padding: 4px 4px;
  margin: 1px 1px;
  box-sizing: border-box;
  border: 1px solid #000;
  resize: none;
  color: #000;
}

/* Dealing with those pesky buttons*/
input[type=submit], input[type=button] {
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #7FDBFF;
  color: #000;
}

select{
  background-color: #7FDBFF;
}


.flippanel {
/*    float: left;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2%;
    margin: 0 auto;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
            perspective: 600px;

  /*.panel {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
            perspective: 600px;*/
  }
  /* -- make sure to declare a default for every property that you want animated -- */
  /* -- general styles, including Y axis rotation -- */

  .flippanel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border: 2px solid #e31c3d;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }
  .flippanel.flip .front {
    z-index: 900;
    border-color: #eee;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }
  .flippanel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 2px solid #e31c3d;
    background: #000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }
  .flippanel.flip .back {
    z-index: 1000;
    background: #fff;
    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  }
  /* -- X axis rotation for click panel -- */
 
  .click.flip .front {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }

  .click.flip .back {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }

  /* -- contact panel -- */
  .contact {
    width: 290px;
    height: 315px;
  }
  /* -- cosmetics -- */
  .flippanel .pad {padding: 0 15px 15px 15px; }
  .flippanel.flip .action {display: none; }
  .block ol li {text-align: left; margin: 0 0 0 28px; }
  .block .action {display: block; padding: 3px; background: #333; text-align: right; font-size: .8em; opacity: 0; position: absolute; cursor: pointer; -webkit-transition: opacity .2s linear; }
  .block:hover .action {opacity: .7; }




/* end flip panel stuff*?
/*---------------------------*/

#navigation li {
  box-sizing: border-box;
  display: inline;   /* Make our navigation display in a line */
  text-decoration: initial; /* remove underlines from linked words */
}
#thinghead {
  /*clear: both;*/
  margin: 0.5rem 0 0;
  text-transform: uppercase;
  font-family: 'Baloo', sans-serif;
  font-size: 20px;
}
#doubleimage{
	text-align: center;
}
#image_wrap{
	text-align: center;	
}
.nav ul{
  float: right;
  padding-left: 0px;
/*needed to override bootstrap accordions in later use*/
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.nav li{
    float: left;
    overflow: hidden;
    padding-right: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2vw;
}
.nav li:not(:first-child) {
    padding-left: 25px;
  }
/* give the nav links text decoration and color*/
.nav a {
  text-decoration: initial;
  color: #ffffff;
}

/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
}
#heading-1, #heading-2, #heading-3{
  background-color: #0074D9;
}
/* thingity thing thing thing */
.panel-title > a {
  display: block;
  position: relative;
}
.panel-title > a:before {
 content: "\f522"; /* double dice icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 28px;
  color: #ffffff;
  position: absolute;
  right: 0;
}
.panel-title > a[aria-expanded="true"]:before {
  content: "\f523"; /* 5 dice icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
}

.panel-title > a:active {
  background-color: inherit;
}

/*         Testing Dynamic Calendar Grid.      */

#calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Roboto Slab', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #000;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
}
/* Hover over grid square color in DIV*/
#calendar_content div:hover{
  background-color: #fdb81e;
}
#calendar_content div.blank{
  background-color: #575757;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
/*  opacity: 0.7; removed because not WCAG compatible*/
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #0074D9;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px; 
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h6{
  font-size: 1.5em;
  color: #000;
  float:left;
  width:70%;
}
i[class*="fa-chevron-"]{
  color: #FFFFFF;
  float: left;
  width: 15%;
  border-radius: 50%;
}
/* End Dynamic Calendar Stuff*/

.skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }
    
    a.skip:active, 
    a.skip:focus, 
    a.skip:hover {
        color: #fff;
        font-size: 12px;
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
    }

/* give links color when hovered over with mouse*/
a:hover {
  color: #fdb81e;
}
/* give active link (when clicked or activated a color and background color*/
a:active { 
    background-color: #000;
    color: #0a10b1;
}
a.current {
  color: #000;
}
/* list general css instructions */

article,
aside{
  font-family: 'PT Sans', sans-serif;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.divvy_up_sections {
  font-family: 'PT Sans', sans-serif;
  justify-content: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.gallery {
  text-align: center;
}
/* note changes of li to black from #429CEA for WACG*/
li {
  line-height: 2.5;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  color: #000;
}

/* hollow white circle in list on events page*/
.li2-circle-white {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: circle;
  color: #ffffff;
  font-weight: bold;
}

#index{
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
#index > p::first-letter{
  display: inline-block;
  font-size: 200%;
  color: black;
}

header {
  background-color: #0074D9;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-between; 
}

i.fa::before{
    font-size: 40px;
}

i.fas::before{
  color:#fdb81e;
}
/* This is needed to call the set this iclass attribute properly*/

footer, address, p.hours {
  text-align: center;
  font-size: 14px;
  color: #000000;
  padding:10px;
}

 h1 {
  font-size: 2vw;
  font-family:Baloo;
  text-align: center;
  color: #000000;
  padding:2px;
}

.big {
  font-size: 4vw;
  }

h2 {
  font-family: Baloo, sans-serif;
  text-align: center;
}

h2.black{
    font-family: 'Baloo', monospace;
    color:#000;
    text-align:center;
}
.panel-title{
    font-family: Baloo, sans-serif;
    font-size: 2em;
    color:#000000;
}

h3{
    font-family: 'Baloo', monospace;
    color:#000;
    text-align:center;
}

p {
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
}
p.blackout{
  color:#000;
}

p.black_head {
    font-family: Baloo, sans-serif;
    font-size:20px;
    color:#000;
}
p.code_o {
    font-family: 'Source Code Pro', monospace;
    color:#000000;
}
p.code_o_strong {
    font-family: 'Source Code Pro', monospace;
    color:#000000;
    font-weight: 900;
}

p.code_o_fonts {
    font-family: 'Baloo', sans-serif;
    color:#000;
}

p.lefty-o {
  text-align: left;
}

ul{
}

.borderbox {
	display: inline-grid;
	width: 100%;
	border-style: solid;
	border-width: thick;
	color: #0074D9;
	padding:10px;
}

.borderbox-table {
  display: inline-table;
  border-style: solid;
  border-width: thick;
  color: #0074D9;
  padding:10px;
}

.borderbox-center{
  max-width: 500px;
  margin:auto;
  display: block;
}

.borderbox-table-reverse {
  display: block;
  border-style: solid;
  border-width: thick;
  color: #fff;
  padding:10px;
}

.borderbox_reverse {
	width:100%;
	border-style: solid;
	border-width: thick;
	color: #ffffff;
  padding: 30px;
}
.borderbox_reverse_small {
	display: inline-block;
	width:47%;
/*	vertical-align: middle;*/
	border-style: solid;
	border-width: thick;
	color: #fff;
}

img {
  max-width: 100%;
  height: auto;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 4px;
}

/*Center an image in a div*/
img.center_it {
  display: block;
  margin: 0 auto;
}

img.center_it_thumb {
  display: inline-block;
  margin: 0 auto;
}

img.top-text {
  vertical-align: text-top;
}

img.bottom-text {
  vertical-align: text-bottom;
}

/* shrink box images in index page*/
.center {
    display: block;
    width: 150px;
}

.center_box {
    display: block;
}
.main_center {
    display: block;
    height: 300px;
    padding:10px;
}
.center_jewels {
    display: block;
    width: 60%;
}

.doubleimg {
    display: inline-block;
    width: 200px;
    padding:10px;

}

/* This exists to put a #fff circle behind the logo on each page*/
.circle-overlay {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 99;
  width: 200%;
  height: 100px;
  left: 55%;
  -ms-transform: translateX(-55%);
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
  border-radius: 55%;
  background-color: #fff;
}

#cust-footer {
  background-color: #7FDBFF;
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-logo {
  width: 80px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}

.footer-link-container {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer-social-icon {
  height: 40px;
  width: 40px;
  /*This was something I was messing with for media query but works here*/
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  display: inline-block;
}

/* Cool Hover trick, moves display from one part of image to another */
.footer-social-icon:hover {
  background-position: 0px -40px;
}

.facebook {
  background-image: url(../images/facebook32-x.png);
}

.twitter {
  background-image: url(../images/twitter32-x.png);
}

.ebay {
  background-image: url(../images/ebay32-x.png);
}



/* Defining some advanced CSS & query for the     */


/* Media Queries begin */
/*-------------------------------------------------------------------------------*/
@media (orientation: portrait) {
  body {
    flex-direction: row;
  }

  .wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2%;
  padding-bottom: 5px;
/*  background-color: #fff;*/
  color: #000000;
  align-items: start;
  align-content: space-around;
  justify-content: space-between;
  }

.wrapper-grid-index {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2%;
  padding-bottom: 0;
  background-color: #7FDBFF;
  color: #000000;
  align-items: start;
  align-content: space-around;
  justify-content: space-between;
  }

  .greetings {
  background-color: #0074D9;
  color: #ffffff;
  grid-template-columns: 1fr;
  grid-gap: 2%;
    border-radius: 5px;
    padding: 0 20px 15px 15px;
    font-size: 90%;
}
 .main_center {
    display: block;
    height: 180px;
    padding-right:10px;
  }

 .borderbox {
  display: grid;
  border-style: solid;
  border-width: thick;
  color: #0074D9;
  padding:10px;
}

.borderbox-table {
  display: inline-table;
  width: 100%;
  border-style: solid;
  border-width: thick;
  color: #0074D9;
  padding:10px;
}

 .borderbox_reverse {
  border-style: solid;
  border-width: thick;
  color: #ffffff;
}

.borderbox_reverse_small {
  display: inline-table;
  vertical-align: middle;
  border-style: solid;
  border-width: thick;
  color: #ffffff;
}

 h1 {
  font-size: 2vw;
  font-family:Baloo;
  text-align: center;
  color: #000000;
  padding:2px;
}

.big {
  font-size: 4vw;
  }

h2 {
  font-family: Baloo, sans-serif;
  text-align: center;
}

.panel-title{
    font-family: Baloo, sans-serif;
    font-size: 1.5em;
    color:#000000;
}

.panel-title > a:before {
 content: "\f522"; /* double dice icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  right: 0;
}
.panel-title > a[aria-expanded="true"]:before {
  content: "\f523"; /* 5 dice icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
}

li {
/*  line-height: 2.5;*/
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  color: #000;
}
}
@media (orientation: landscape) {
  body {
    flex-direction: row;
    /*background-color: #666;*/
  }

.wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
/*  background-color: #fff;*/
  color: #000000;
  align-items: start;
  align-content: space-around;
  justify-content: space-between;
  } 

}

@media all and (max-width: 800px) {
  ul {
    grid-gap: .25em;
  }
  
  /*ul.weekdays li {
    font-size: 0;
  }
  
  ul.weekdays > li abbr:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }
*/
.borderbox_reverse_small {
  margin-bottom: 2%;
  }
}


@media screen and (max-width: 785px) {
  .box{
    background-color: #ffffff;
    font-family: Baloo, sans-serif;
    font-size:12px;
  }
 .contact {
    width: 290px;
    height: 290px;
  }
  .greetings {
  background-color: #0074D9;
  color: #ffffff;
  grid-template-columns: 1fr;
  grid-gap: 2%;
  border-radius: 5px;
  padding: 0 20px 15px 15px;
  font-size: 90%;
  }
  .blue {
  background-color: #0074D9;
  }

  .box_gray{
    font-size: 12px;
  }
  .flippanel{
    font-size: 1em;
  }
  h1{
    font-size: 16px;
  }
.big {
  font-size: 32px;
  }

  .nav a {display: none;}
  .nav a.icon {
    float: right;
    display: block;
    padding: 0px;
  }

  .nav a:hover {
    color: #fff;
  }

  .nav a:active { 
    background-color: #0074D9;
    color: #ffffff;
  }
  .nav ul{max-width: 1px;}
  .nav li{
    float: right;
    font-size: 18px;
  }
  img {}
  .doubleimg {
    display: inline-block;
    width: 100px;
    padding:10px;
  }
 .center {
    display: block;
    width: 150px;
  } 
  .nav.responsive.icon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
  }
  .nav.responsive li a:hover {
  color: #FFC100;
  }
  /* give active link (when clicked or activated a color and background color*/
  .nav.responsive li a:active { 
    background-color: #7FDBFF;
    color: #0a10b1;
  }
  .nav.responsive li a.current {
  color: #000;
  }
  .nav.responsive {
    position: relative;
  }
  .nav.responsive ul{
    max-width: none;
    padding-top: .5em;
    padding-left: 0em;
  }
  .nav.responsive li{
    float: none;
    text-align: right;
    padding-right: 0px;
    padding-left: 0px;
  }
 
  .nav.responsive a {
    position: relative;
    display: block;
    text-align: right;
  }
  .carousel-cell {
  width: 75%;
  }

  article,
  aside, section{
  display: inline-grid;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  }
}
@media screen and (max-width: 349px){


  .nav a.icon {
  display: none;
  }
  .nav ul{
    max-width: none;
    padding-top: 0em;
    padding-left: 0em;
  }
  .nav li{
    float: none;
    text-align: left;
    padding-right: 40px;
    padding-left: 0px;
  }
  .nav a {
    position: relative;
    display: block;
    text-align: left;
  }
  .nav li:not(:first-child) {
    padding-left: 0px;
  }
   .contact {
    width: 90%;
    height: 320px;
  }

}
@media only screen and (min-width: 785px)  {

  body {
    font-size: 13px;
  }

.wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
/*  background-color: #fff;*/
  color: #000000;
  align-items: start;
  align-content: space-around;
  justify-content: space-between;
  }

.main_center {
    display: block;
    height: 300px;
    padding:10px;
  }
}